extends ../_component/layout/layout

block content
    .menu-text Menu
    .menu-categories
        .small-text Drinks
        br
        .menu-item Frappé Coffee
        .menu-item Cappuccino
        .menu-item Latte
        .menu-item Iced Latte
        .menu-item Macchiato
        .menu-item Hot Chocolate
        br
        .small-text Lunch
        br
        .menu-item Smoked Turkey Sandwich
        .menu-item Falafel Gyro Sandwich
        .menu-item Chicken Balsamic Wrap
        .menu-item Buffalo Chicken Wrap
        .menu-item Caesar Salad
        .menu-item Thai Chicken Salad
    br
    .testimonial
    .testimonial-box
        .quote-two
            h2 "You seriously have to try the frappé coffee. It's so refreshing!"
            p - Amelie Kerrigan -
    br