//- General
html,
body {
    height: 100%;
    font-family: 'Montserrat';
    background-color: black;
    color: white;
}

//- Responsiveness
@media screen and (min-width: 25em){
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

//- Menu
.menu {
    display: flex;
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    font-size: 0.45rem;
    margin-top: 1.5rem;

    a {
        text-decoration: none;
        color: white;
        margin-left: 0.7rem;

        &:hover {
            color: $color-rajah;
        }
    }
}

.logo {
    background-image: url(asset/image/busy-bean-logo.png);
    background-size: cover;
    height: 5rem;
    width: 5rem;
    margin-left: 0.5rem;
}


//- Home page
.homepage-image {
    background-image: url(asset/image/coffee-maker.jpg);
    background-size: cover;
    height: 15rem;
    width: 100%;

    h1 {
        text-align: center;
        padding: 5rem;
    }
}