//- General
html,
body {
    height: 100%;
    font-family: 'Montserrat';
    background-color: black;
    color: white;
}

//- Responsiveness
@media screen and (min-width: 25em){
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

//- Menu
.menu {
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    font-size: 0.45rem;
    margin-top: 1.5rem;

    a {
        text-decoration: none;
        color: white;
        margin-left: 0.7rem;

        &:hover {
            color: $color-rajah;
        }
    }
}

.logo {
    background-image: url(asset/image/busy-bean-logo.png);
    background-size: cover;
    height: 5rem;
    width: 5rem;
    margin-left: 0.5rem;
}


//- Home page
.homepage-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.74)), url(asset/image/coffee-maker.jpg);
    background-size: cover;
    height: 15rem;
    width: 100%;

    h1 {
        text-align: center;
        padding: 5rem;
    }
}

//- Home page slideshow
.container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    ul {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        li {
            margin: 0 0 25px;

            .slide {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transition: transform 0.5s;
                transform: rotateY(90deg);
                transform-origin: left;

                .content {
                    font-size: 0.7rem;
                    position: absolute;
                    top: 80%;
                    left: 17%;
                    transform: translate(-50%, -50%);
                    color: black;
                    background: rgba(204, 204, 204, 0.5);
                    padding: 40px;
                    width: 10rem;
                    border-left: 5px solid $color-rajah;
                }

                img {
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            input[type="radio"] {
                position: relative;
                z-index: 1;
                height: 20px;
                width: 20px;

                &:checked ~ .slide {
                    transition: transform 0.5s;
                    transform: rotateY(0deg);
                    transform-origin: right;

                    img {
                        animation: animate 40s linear infinite;
                    }

                    @keyframes animate {
                        0% {
                            transform: scale(1);
                        }
                        50% {
                            transform: scale(1.3);
                        }
                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}

//- Opening Hours
.tbb--drink {
    margin-left: 43%;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
}

.text {
    text-align: center;
    font-family: 'Oswald';
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.lorem {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

//- Testimonial
.quote {
    background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.74)), url("asset/image/orange-coffee-cups.jpg");
    height: 20rem;
    width: 100%;

    //- The parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        text-align: center;
        padding: 5rem;
    }

    p {
        text-align: center;
        font-size: 0.75rem;
        font-family: 'Oswald';
    }
}


//- Menu page
.tbb--cake {
    text-align: center;
    margin-bottom: 0.5rem;
}

.menu-text {
    font-family: 'Oswald';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.swans-down {
    color: $color-swans-down;
    width: 10%;
    margin-bottom: 1rem;
}

.menu-categories {
    text-align: center;
    
    .small-text {
        color: $color-rajah;
        font-family: 'Oswald';
    }
    
    .menu-item {
        margin-bottom: 0.5rem;
        font-size: 0.5rem;
    }
}

.quote-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.74)), url("asset/image/frappe-coffee.jpg");
    height: 20rem;
    width: 100%;

    //- The parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        text-align: center;
        padding: 5rem;
    }

    p {
        text-align: center;
        font-size: 0.75rem;
        font-family: 'Oswald';
    }
}

.centered-text {
    font-family: 'Oswald';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.more {
    color: $color-rajah;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


//- Locations page
.tbb--location {
    text-align: center;
    margin-bottom: 0.5rem;
}

.boxes {
    margin-bottom: 2rem;

    p {
        color: $color-rajah;
        font-size: 0.5rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .address,
    .address-left {
        color: $color-swans-down;
        margin-top: 0.5rem;
    }
}

.sydney-photo {
    background-image: url(asset/image/sydney.jpg);
    background-size: cover;
    border-radius: 5px;
    height: 17rem;
    width: 17rem;
    margin: 0 auto;
}

.ny-photo {
    background-image: url(asset/image/ny.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    height: 17rem;
    width: 17rem;
    margin: 0 auto;

}

.london-photo {
    background-image: url(asset/image/london.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    height: 17rem;
    width: 17rem;
    margin: 0 auto;
}

.melbourne-photo {
    background-image: url(asset/image/melbourne.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    height: 17rem;
    width: 17rem;
    margin: 0 auto;
}


//- Contact Us page
.tbb--coffee {
    text-align: center;
    margin-bottom: 0.5rem;
}

.contact {
    font-size: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;

    a {
        color: $color-rajah;
        text-decoration: none;
    }
}

.icons {
    text-align: center;

    .tbb--medal,
    .tbb--wifi-full {
        color: $color-swans-down;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        border: 1px solid white;
        border-radius: 50%;
        padding: 15px;
        display: inline-block;
    }
}


//- Footer
.footer {
    text-align: center;
    font-size: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Oswald';
}