extends ../_component/layout/layout

block content
    .tbb--coffee
    h1.centered-text Contact Us
    hr.swans-down
    .contact
        p Phone Number: 0123 456 789
        p Email us at #[a(href="#") contact@thebusybeancafe.com]