extends ../_component/layout/layout

block content
    .tbb--location
    h1.centered-text Locations
    hr.swans-down
    .boxes
        .sydney
            p Sydney
            .sydney-photo
            p.address 1637 Mildura Road, Sydney, NSW
        .ny
            p.left-aligned New York
            .ny-photo
            p.address-left 3109 Terry Street, Manhattan, NY
        .london
            p.left-aligned London
            .london-photo
            p.address-left 527 Preston Road, Manchester, UK
        .melb
            p.left-aligned Melbourne
            .melbourne-photo
            p.address-left 7620 Collins Street, Melbourne, VIC