extends _component/layout/layout

block content
    .container
        .slide.fade
            .number-text 1 / 3
            img(src='asset/image/coffee-frappe.jpg' style='width:100%')
            p.slide-text More locations opening soon!
        .slide.fade
            .number-text 2 / 3
            img(src='asset/image/coffee-cup.jpg' style='width:100%')
            p.slide-text Buy one coffee frappe and get another free!
        .slide.fade
            .number-text 3 / 3
            img(src='asset/image/ice-coffee.jpg' style='width:100%')
            p.slide-text Enjoy a refreshing glass of ice coffee
        a.prev(onclick='plusSlides(-1)') &#x276E;
        a.next(onclick='plusSlides(1)') &#x276F;
    br
    br
    p.text Open Mon - Sat at 7AM to 5.30PM
    p.lorem Our passion is to bring you choice coffee at The Busy Bean.
    p.lorem We aim to give you the very best coffee and drinks.
    br
    .icons
        .tbb--medal
        h1 Award-Winning Café
        br
        .tbb--wifi-full
        h1 Free WiFi In Store!
    br
    br
    .testimonial
        .testimonial-box
            .quote
                h2 "Fantastic enviroment, great staff and awesome coffee! It's worth the drive."
                p - Edward Hollingsworth -
    br

    script.
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("slide");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 2000);
        }