extends _component/layout/layout

block content
    .container
        ul
            li
                input(type="radio", checked="checked", name="slide")
                .slide
                    img(src="asset/image/girl-drinking-coffee.jpg", alt="Girl drinking coffee")
                    .content
                        h2 Enjoy a steaming cup of coffee at The Busy Bean!
            li
                input(type="radio", name="slide")
                .slide
                    img(src="asset/image/coffee-cup.jpg", alt="Coffee cups")
                    .content
                        h2 Buy one coffee and get another free!
            li
                input(type="radio", name="slide")
                .slide
                    img(src="asset/image/coffee-maker.jpg", alt="Coffee maker")
                    .content
                        h2 More locations opening soon!
            li
                input(type="radio", name="slide")
                .slide
                    img(src="asset/image/ice-coffee.jpg", alt="Ice coffee")
                    .content
                        h2 Have a refreshing glass of ice coffee
    br
    br
    .tbb--drink
    p.text Hours: Mon-Sat: 7AM - 5:30PM
    p.lorem Our passion is to bring you choice coffee at The Busy Bean.
    p.lorem We aim to give you the very best coffee and drinks.
    br
    .icons
        .tbb--medal
        h1 Award-Winning Café
        br
        .tbb--wifi-full
        h1 Free WiFi In Store!
    br
    br
    .testimonial
        .testimonial-box
            .quote
                h2 "Fantastic enviroment, great staff and awesome coffee! It's worth the drive."
                p - Edward Hollingsworth -
    br