extends _component/layout/layout

block content
    .container
        ul
            li
                input(type="radio", checked="checked", name="slide")
                .slide
                    img(src="asset/image/girl-drinking-coffee.jpg", alt="Girl drinking coffee")
                    .content
                        h2 Enjoy a steaming cup of coffee at The Busy Bean!
            li
                input(type="radio", name="slide")
                .slide
                    img(src="asset/image/coffee-cup.jpg", alt="Coffee cups")
                    .content
                        h2 Buy one coffee and get another free!
            li
                input(type="radio", name="slide")
                .slide
                    img(src="asset/image/coffee-maker.jpg", alt="Coffee maker")
                    .content
                        h2 More locations opening soon!
            li
                input(type="radio", name="slide")
                .slide
                    img(src="asset/image/ice-coffee.jpg", alt="Ice coffee")
                    .content
                        h2 Have a refreshing glass of ice coffee
    br